.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}  

.patrick-hand-sc-regular {
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#screen {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#bg {
    height: 100vh;
    width: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 0;
}

.container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;

    aspect-ratio: 32 / 15;

    z-index: 1;
    overflow: hidden;
}

.scalable {
    position: absolute;

    width: 100%;
    height: auto;
}

#paper {
    width: 20vh;

    left: 67.5%;
    bottom: 72%;
}

#shelf {
    width: 42vh;

    left: 58%;
    bottom: 57.25%;
}

#des {
    width: 28vh;

    left: 63%;
    bottom: 63%;
}

#cal {
    width: 16vh;

    left: 54%;
    bottom: 69%;
}

#poster {
    width: 21.25vh;

    left: 42.5%;
    bottom: 52%;
}

#nightstand {
    width: 26vh;

    left: 49%;
    bottom: 17%;
}

#bedlight {
    width: 74vh;

    left: 52.25%;
    bottom: 6.75%;
}

#laptop {
    width: 22vh;

    left: 61%;
    bottom: 32%;
}

#closetlight {
    width: 72vh;

    bottom: 15%;
    left: 12%;
}

#miffylight {
    width: 22vh;

    bottom: 70.1%;
    left: 22%;
}

#clotheslight {
    width: 52vh;

    bottom: 7%;
    left: 57.75%;
}

#lamplight {
    width: 13.5vh;
    left: 51%;
    bottom: 41.2%;

    cursor: pointer;
}

#musiclight {
    width: 13vh;
    left: 34%;
    top: 12.5%;

    cursor: pointer;
}

#drawerlight1 {
    position: absolute;
    width: 33.5vh;
    left: 23.5%;;
    top: 34.5%;

    cursor: pointer;
}

#drawerlight2 {
    position: absolute;
    width: 33.5vh;
    left: 23.5%;
    top: 45.5%;

    cursor: pointer;
}

#drawerlight3 {
    position: absolute;
    width: 33.5vh;
    left: 23.5%;
    top: 56.5%;

    cursor: pointer;
}

#drawerlight4 {
    position: absolute;
    width: 33.5vh;
    left: 23.5%;
    top: 67.5%;

    cursor: pointer;
}

.drawer-img1.open {
    width: 36vh !important;
    transform: translate(-2.8%, -50%) !important;
    z-index: 10;
}

.drawer-img.open {
    width: 36vh !important;
    transform: translate(-2.8%, -53%) !important;
    z-index: 10;
}

.text {
    font-family: "Amatic SC";
    position: absolute;
    font-size: 4.5vh;
    font-weight: 1000;

    cursor: pointer;
}

#text1 {
    left: 24.8%;
    top: 32.4%;
}

#text2 {
    left: 28.75%;
    top: 43.4%;
}

#text3 {
    left: 27.5%;
    top: 54.4%;
}

#text4 {
    left: 28.5%;
    top: 65.4%;
}

.text.enlarge {
    transform: scale(1.15);
    z-index: 100;
}

.link {
    position: absolute;
    z-index: 1000;

    left: 24%;
    top: 23.65%;

    font-family: "Patrick Hand SC";
    text-decoration: none;
    color: black;

    font-size: 2.1vh;
    letter-spacing: 0.3vh;
    font-weight: 100 !important;

    cursor: pointer;
}

#piggy {
    top: 26%;
}

#lib {
    top: 28.75%;
}

#brainstorm {
    top: 34.5%;
    letter-spacing: 0.04rem;
}

#friendslist {
    left: 33%;
}

#library {
    left: 33%;
    top: 26%;
    letter-spacing: 0.08rem;
}

#proposal {
    left: 25%;
    top: 56.5%;
}

#comparison {
    top: 37.25%;
    letter-spacing: 0.001rem;
    left: 23.4%;
}

#bibliography {
    top: 40%;
    letter-spacing: 0.0001rem;
    left: 23.37%;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}
